<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analysis</title>
    <!-- 导入 Plotly 绘图所需的 JavaScript 库 -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <h1>Stock Analysis</h1>

    <form method="POST">
        <label for="stock_number">Enter Stock Number:</label>
        <input type="text" id="stock_number" name="stock_number">
        <input type="submit" value="Submit">
    </form>

    {% if stock_data is not none %}
    <!-- 顯示股票數據 -->
    <h2>Stock Data</h2>
    <table border="1">
        <thead>
            <tr>
                <th>年份</th>
                <th>月份</th>
                <th>開盤價</th>
                <th>最高價</th>
                <th>最低價</th>
                <th>收盤價</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in stock_data.iterrows() %}
            <tr>
                <td>{{ row['年份'] }}</td>
                <td>{{ row['月份'] }}</td>
                <td>{{ row['開盤價'] }}</td>
                <td>{{ row['最高價'] }}</td>
                <td>{{ row['最低價'] }}</td>
                <td>{{ row['收盤價'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if k_line_plot is not none %}
    <!-- 顯示K線圖 -->
    <h2>K-Line Plot</h2>
    <div id="k_line_plot">
        {{ k_line_plot | safe }}
    </div>
    {% endif %}

    {% if financial_data is not none %}
    <table border="1">
        <thead>
            <tr>
                <th>年份</th>
                <th>月份</th>
                <th>單月營收</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in financial_data.iterrows() %}
                {% if row['月份'] and row['單月營收'] %}
                <tr>
                    <td>{{ row['年份'] }}</td>
                    <td>{{ row['月份'] }}</td>
                    <td>{{ row['單月營收'] }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>沒有數據可顯示。</p>
    {% endif %}
    <br>
    {% if profit_data is not none %}
    <table border="1">
        <thead>
            <tr>
                <th>年/季</th>
                <th>營收(億)</th>
                <th>稅後淨利(億)</th>
                <th>毛利(%)</th>
                <th>營業利益(%)</th>
                <th>稅後淨利(%)</th>
                <th>ROE(%)</th>
                <th>EPS(元)</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in profit_data.iterrows() %}
                <tr>
                    <td>{{ row['年季'] }}</td>
                    <td>{{ row['營收(億)'] }}</td>
                    <td>{{ row['稅後淨利(億)'] }}</td>
                    <td>{{ row['毛利(%)'] }}</td>
                    <td>{{ row['營業利益(%)'] }}</td>
                    <td>{{ row['稅後淨利(%)'] }}</td>
                    <td>{{ row['ROE(%)'] }}</td>
                    <td>{{ row['EPS(元)'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    {% endif %}

</body>

</html>